<!DOCTYPE html>
<html>
    <head>
        <title>AB Price Compare</title>
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
    </head>
    <body>
        <div id="container">
            <div class="title">
                    <h1>Compare AB Prices</h1>
            </div>
            <p> Search Jolse and Roseroseshop for prices </p>
            <p> Be as specific as you can, search results are only from the first search page </p>
            <div id="content">
                <form method="post" action="{{ url_for('item') }}">
                  <!-- <label for="item_name">Please enter an item name:</label>-->
                  <input type="text" placeholder="Enter an item name" name="item_name" />
                  <input type="submit" />
                </form>
            </div>
          </div>
	<div id="priceresults">
            {% block pricecontent %} {% endblock %}
	</div>

	<div id="chooseresults">
            {% block content %} {% endblock %}
	</div>
    </body>
</html>
