<!DOCTYPE html>
<html>
    <head>
        <title>AB Price Compare</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="top-container">
            <div class="head1">
                    <h1>Compare AB Prices</h1>
            </div>
            <p> Search Jolse and Roseroseshop for prices </p>
            <p> Be as specific as you can, search results are only from the first search page </p>
            <div id="search_form">
                <form method="post" action="{{ url_for('item') }}" id="search">
                  <!-- <label for="item_name">Please enter an item name:</label>-->
                  <input type="text" id="search_box" placeholder=" Enter an item name" name="item_name" />
                  <input type="submit" id="search_button" value="Search" />
                </form>
            </div>
        </div>

	    <div id="price-container">
            {% block price_content %} {% endblock %}
	    </div>

    </body>
</html>
